table 
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    position: relative;
    background-repeat: no-repeat;
    height: 100%

    border: none;
    width: 100%;

    background-image: url("notebg.png");

}

th
{
    font-weight:bold;
    padding-bottom:10px;
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}

td
{
  padding: 8px;
  text-align: auto;
}

.del
{
    border-radius: 50%;
    background-color: #f44336;
}

.add
{
    border-radius: 50%;
    background-color: #4CAF50;
}

.save
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}